body
{	
	background:#303830;
	text-align: center;
}

canvas
{
	background: white;
	box-shadow: 20px 20px 50px #303830;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	transition: transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
}

canvas:hover
{
	width: 101px;
	height: 99px;
}

#playArea
{
	margin: 85px auto 40px;
}

#reloadButton
{
	text-decoration: none;
	color: white;
	text-shadow: 5px 5px 30px white;
	font: 40px CenturyGothic;
}

#reloadButton:hover
{
	font-size: 42px;
	opacity: 0.7;
}