		body {
			background:#303830;
		}

		canvas{
			position: absolute;
			top: 120px;
			left: 50%;
			margin-left: -200px;
		}
		
		label {
			position: absolute;
			display: block;
			left: 50%;
			margin-left: -50px;
			text-indent: -15px;
			color:white;
		}
		
		input {
			width: 13px;
			height: 13px;
			padding: 0;
			margin:0;
			vertical-align: middle;
			position: relative;
			top: -1px;
			*overflow: hidden;
		}